* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background-color: grey;
}

nav {
  background-color: rgb(19, 19, 81);
  font-weight: bold;
  color: white;
  position: absolute;
  width: 100%;
}

nav > ul,
.drop-downs.container {
  display: grid;
  grid-template-columns: repeat(6, minmax(110px, 150px));
  gap: 20px;
  justify-content: center;
}

nav > ul {
  grid-template-rows: 70px;
  list-style: none;
  align-items: center;
}

nav > ul > li {
  padding: 0 20px;
  white-space: nowrap;
}

.absolute-parent {
  position: relative;
}

.drop-downs.container {
  background-color: white;
  position: absolute;
  width: 100%;
  bottom: 0;

  opacity: 30%;
  z-index: -1;
  transition: transform 500ms ease-in-out;
}

.drop-down {
  list-style: none;
  font-size: 12px;
  font-weight: normal;
  color: navy;
  padding: 20px;
  display: grid;
  gap: 20px;
}

nav:hover {
  .drop-downs.container {
    transform: translate(0, 100%);
  }
}
