* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  background-color: grey;
}

nav {
  background-color: rgb(19, 19, 81);
  font-weight: bold;
  color: white;
  position: absolute;
  width: 100%;
  height: 60px;
}

nav > ul,
nav > ul li,
nav > ul li a {
  height: 100%;
}

nav > ul,
.drop-downs.container {
  display: grid;
  grid-template-columns: repeat(6, minmax(140px, 170px));
  justify-content: center;
}

nav > ul {
  list-style: none;
  align-items: center;
}

nav > ul a {
  white-space: nowrap;
  transform: skew(-15deg) translate(8px);
}

nav > ul a {
  padding: 20px;
}

nav > ul a:hover {
  background-color: goldenrod;
  color: navy;
}

nav a {
  display: block;
  text-decoration: none;
  color: inherit;
}

.absolute-parent {
  position: relative;
}

.drop-downs.container {
  background-color: white;
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: -1;
  transition: transform 500ms ease-in-out;
}

.drop-down {
  list-style: none;
  font-size: 12px;
  font-weight: normal;
  color: navy;
}

.drop-down a {
  padding: 10px 20px;
}

.drop-down a:hover {
  background-color: gold;
}

nav:hover {
  .drop-downs.container {
    transform: translate(0, 100%);
  }
}

.color-column {
  background-color: rgb(245, 240, 209);
}

.color-title {
  background-color: rgb(232, 210, 83);
  color: navy;
}

.hamburger-menu.container {
  position: absolute;
  height: 100%;
  display: flex;
  align-items: center;
}

.hamburger-menu.container img {
  width: 40px;
  height: 40px;
  filter: invert(1);
  margin: 0 10px;
}

.hamburger-menu.container img:hover {
  cursor: pointer;
}

.hamburger-menu .drop-down {
  position: absolute;
  z-index: -1;
  bottom: 0;
  color: navy;
  font-weight: bold;
  font-size: 20px;
  background-color: white;
  display: grid;
  gap: 3px;
  transition: transform 500ms ease-in-out;
}

.hamburger-menu .drop-down li {
  background-color: lightsteelblue;
}

.hamburger-menu .drop-down li a {
  padding: 10px 50px 10px 20px;
}

.hamburger-menu .drop-down.visible {
  transform: translate(0, 100%);
}

.hidden {
  display: none !important;
}
